@import url(variables.css);
html {
    font-size: 62.5%; /* Hack permite trabajar con rem */
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    background-color: var(--primary-50);
}

/* Global Styles */
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: var(--h4-font-size);
    font-family: var(--h4-font-family);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Links */
a {
    text-decoration: none;
    color: var(--black);
}

button{
    padding: 1.2rem 2.4rem;
}

p{
  margin-inline: 1rem;
}
.header__login {
  display: flex;
  justify-content: center;
  position: relative;
  height: 5.8rem;
  padding: 0 1rem;
  background-color: var(--primary-950);
  width: 100%;
}

.header__left{
  display: flex;
  align-items: center;
  flex: 1;

}
.header__center,
.header__right {
  flex: 1;
  display: flex;
  justify-items:start;
  justify-content: center;
  align-items: center;
}

.logo__sena {
    height: 4.8rem; 
    justify-content: center;
}

.logo__senalink{
  height: 4rem;
  max-width: 100%;
}

.linea-verde {
    background-color: var(--primary-600);
    height: 1rem;
    width: 100%;
    padding: 0;
    max-width: 100%;
}



.logo__senalink {
    margin-top: 2rem;
}


.header__home .icons {
  height: 3.2rem;
  width: auto;
}


.header__home img:first-of-type {
  order: 2; 
  cursor: pointer;
}

.header__home img:last-of-type {
  order: 1; 
}

.header__report{
  margin:0 auto;
}

.logo__senalink{
  height: 6rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; /* Esto evita que el contenido se pegue a los bordes */
  flex: 1;
}

.container__crud {
  background-color: white;
  padding: 4rem;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 48, 77, 1);
  text-align: center;
  width: 60rem;
  max-width: 100%;
  margin-top: 1.1rem;
  margin-bottom: 0.4rem;
}

.select_container{
    width: 100%;
    height: 5.6rem;
    padding: 1rem ;
    margin: 1rem 0;
    border: 1px solid var(--Gray-300);
    font-size: var(--h4-font-size);
    border-radius: 0.4rem;
}
.container--disable {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.container__crud--disable{
  background-color: var(--Gray-200);
  padding: 4rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 60rem;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 0.5rem 2rem  rgba(0, 48, 77,1);
  text-align: center;
  max-width: 100%;
}
table {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  
}



th, td {
  padding: 10px;
  text-align: left;
  word-wrap: break-word; /* Permite que el texto se divida en varias líneas */
  max-width: 300px; /* Establece un ancho máximo para las celdas */
}

th {
  background-color: var(--Secundary-900);
  color:var(--white);
  text-align: center;
}

td {
  background-color:var(--white);
  color: #000;
}
.table{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.btn__report {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #ccc;
  font-size: var(--h4-font-size);
  cursor: pointer;
  border-radius: 0.4rem;
  height: 4rem;
  background-color:var(--Secundary-950);
  color:var(--white);
  padding: 1.2rem 2.4rem;
  text-align: center;
}

  
  /* Buttons CRUD Styles */
  
  .buttons__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .buttons__crud{
    height: 4rem;
    margin-top: 2rem;
    padding: 1.2rem 2.4rem;
    background-color: var(--Secundary-950);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--h4-font-size);
  }
  
  .modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Mantiene la ventana en la misma posición */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto; /* Centra la ventana */
    padding: 20px;
    border: 1px solid #888;
    width: 50rem; /* Ancho de la ventana */
    text-align: center; /* Centra el texto */
    border-radius: 0.8rem;
  }
  
  .buttons__disable {
    display: flex;
    justify-content: end;
    margin-left: 10rem;
    gap: 1rem;
  }
  .buttons__disable button {
    font-size: var(--h4-font-size);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    padding: 1.2rem 2.4rem;
  }
  .cancel-button  {
    background-color: var(--white);
    color: #1a3d5d;
  }
  .disable-button {
    background-color: #1a3d5d;
    color: #fff;
  }
  
  span{
    font-weight: var(--h3-font-weight);
    font-size: var(--h4-font-size);
  }
  
  .form__buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
.inputs__container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}

.input-field {
  width: 100%;
  height: 5.6rem;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: var(--h4-font-size);
}

@media (max-width: 768px){
  .buttons__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .buttons__container--disable{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .container {
    width: 90%; /* o 90%, según tu gusto */
  }
}
footer{
    background-color: var(--Secundary-950);
    color: white;
    text-align: center;
    width: 100%;
    padding: 1rem;
}