@import url(variables.css);
html {
    font-size: 62.5%; /* Hack permite trabajar con rem */
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    background-color: var(--primary-50);
}

/* Global Styles */
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: var(--h4-font-size);
    font-family: var(--h4-font-family);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Links */
a {
    text-decoration: none;
    color: var(--black);
}

button{
    padding: 1.2rem 2.4rem;
}


.btn.edit {
  background-color: var(--Secundary-950);
  color: white;
}


.btn.edit:hover {
  background-color: var(--Secundary-950);;
}


.header__login {
  display: flex;
  justify-content: center;
  min-height: 5.8rem;
  background-color: var(--primary-950);
  width: 100%;
}

.header__left{
  display: flex;
  align-items: center;
  flex: 1;

}
.header__center{
  flex: 1;
  display: flex;
  justify-items:start;
  justify-content: center;
  align-items: center;
}

.header__right {
  flex: 1;
  display: flex;
  justify-items:start;
  justify-content: end;
  align-items: center;
}

.logo__sena {
    height: 4.8rem; 
    justify-content: center;
    padding-right: 1rem;
}

.logo__senalink{
  height: 4rem;
  max-width: 100%;
}

.linea-verde {
    background-color: var(--primary-600);
    min-height: 1rem;
    width: 100%;
    padding: 0;
    max-width: 100%;
}



.logo__senalink {
    margin-top: 2rem;
}


.header__home .icons {
  height: 3.2rem;
  width: auto;
}


.header__report{
  margin:0 auto;
}

.logo__senalink{
  height: 6rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex: 1;
  box-sizing: border-box;
}

.container__adminSENA {
  background-color: white;
  padding: 4rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

}


.container__crud {
  background-color: var(--white);
  padding: 4rem;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 48, 77, 1);
  text-align: center;
  width: 60rem;
  max-width: 100%;
  margin-top: 1.1rem;
  margin-bottom: 0.4rem;
}

.p-container{
  text-align: left;
}

.cuestionario-container{
  text-align: left;
}

.skills-text {
  list-style-position: inside; /* Las viñetas quedan dentro del contenido */
  padding-left: 0;             /* Quita sangría por defecto */
  text-align: left;            /* Alinea el texto a la izquierda */
  margin-left: 0;              /* Elimina margen izquierdo si lo hay */
}

.select_container{
    width: 100%;
    height: 5.6rem;
    padding: 1rem ;
    margin: 1rem 0;
    border: 1px solid var(--Gray-300);
    font-size: var(--h4-font-size);
    border-radius: 0.4rem;
}
.container--disable {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.container__crud--disable{
  background-color: var(--Gray-200);
  padding: 4rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 60rem;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 0.5rem 2rem  rgba(0, 48, 77,1);
  text-align: center;
  max-width: 100%;
}
table {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-container {
  background-color: var(--white);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  
}



th, td {
  padding: 10px;
  text-align: left;
  word-wrap: break-word; /* Permite que el texto se divida en varias líneas */
  max-width: 300px; /* Establece un ancho máximo para las celdas */
}

th {
  background-color: var(--Secundary-900);
  color:var(--white);
  text-align: center;
}

td {
  background-color:var(--white);
  color: #000;
}
.table{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.btn__report {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #ccc;
  font-size: var(--h4-font-size);
  cursor: pointer;
  border-radius: 0.4rem;
  height: 4rem;
  background-color:var(--Secundary-950);
  color:var(--white);
  padding: 1.2rem 2.4rem;
  text-align: center;
}

  
  /* Buttons CRUD Styles */
  
  .buttons__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .buttons__crud{
    height: 4rem;
    margin-top: 2rem;
    padding: 1.2rem 2.4rem;
    background-color: var(--Secundary-950);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--h4-font-size);
  }
  .inputs__container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}
  .box__password {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.box__password input {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  font-size: var(--h4-font-size);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box__password button {
  position: absolute;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
  .modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Mantiene la ventana en la misma posición */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.3rem);
  }
  .content{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background-color: var(--white);
    padding: 20px;
    border: 1px solid #888;
    width: 50rem; /* Ancho de la ventana */
    text-align: center; /* Centra el texto */
    border-radius: 0.8rem;
  }
  
  .buttons__disable {
    display: flex;
    justify-content: end;
    margin-left: 10rem;
    gap: 1rem;
  }
  .buttons__disable button {
    font-size: var(--h4-font-size);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    padding: 1.2rem 2.4rem;
  }
  .cancel-button  {
    background-color: var(--white);
    color: #1a3d5d;
  }
  .disable-button {
    background-color: #1a3d5d;
    color: var(--white);
  }
  
  span{
    font-weight: var(--h3-font-weight);
    font-size: var(--h4-font-size);
  }
  
  .form__buttons{
    display: flex;
    justify-content: center;
    gap: 4rem;
    border-radius: 2rem;
  }


.input-field {
  text-decoration: none;
  width: 100%;
  height: 5.6rem;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: var(--h4-font-size);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px){
  .buttons__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .buttons__container--disable{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .inputs__container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
footer{
    background-color: var(--Secundary-950);
    color: var(--white);
    text-align: center;
    width: 100%;
    padding: 1rem;
}
.p-container{
  text-align: left;
}

.linea-azul-difuminada {

  width: 100%;
  height: 30px;
  background: linear-gradient(to top, rgb(0, 48, 77) 1px, transparent 50%);
}
.gov{
    background-color:var(--Secundary-980);
}
.gov__container{
    margin: auto;
    padding: .5rem 1.5rem;
    max-width: 1336px;
}
.gov__img{
    height: 2.4rem;
}
