/* Estilos para la vista de nueva contraseña */


@import url(variables.css);


body {
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-50);
    margin: 0;
    padding: 0;
    color: #333;
}

.gov {
    background-color: var(--Secundary-980);
}

.gov__container {
    margin: 0;
    padding: .5rem 1.5rem;
    max-width: 100vw;
    width: 100%;
    
}

.gov__img {
    height: 2.4rem;
}

.header__home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--primary-950);
    max-width: 100%;
    height: auto;
}

.account__button {
    background: none;
    border: none;
    padding: 0;
}

.linea-verde {
    background-color: var(--primary-600);
    height: 1rem;
    width: 100%;
    position: fixed;
    top: 7rem;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 12rem;
    margin-bottom: 16.2rem;
}

.container__forms--forgot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__forms--forgot h2 {
    margin-bottom: 20px;
    color: var(--Secunday-950);
}

.container__forms--forgot form {
    width: 100%;
}

.container__forms--forgot input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.box__password {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  height: 48px;
}

.box__password input {
  width: 100%;
  padding: 1rem 4rem 1rem 1rem;
  font-size: var(--h4-font-size);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100%;
}

.box__password button {
  position: absolute;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon__pass {
  width: 24px;
  height: 24px;
}





.buttons__container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: var(--Secundary-800);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--Secundary-950);
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
}

.btn-secondary:hover {
    background-color: #999;
}

footer {
    background-color: var(--Secundary-950);
    color:var(--white);
    text-align: center;
    width: 100%;
    padding: 1rem;
}

  .linea-azul-difuminada {

  width: 100%;
  height: 30px;
  background: linear-gradient(to top, var(--Secundary-950) 1px, transparent 50%);
}
.texto-cambiable {
  
  transition: color 0.3s ease, transform 0.3s ease;; /* Transición suave */
}

.texto-cambiable:hover {
  color: var(--Secundary-950);  /* Color al pasar el cursor */
   transform: scale(1.2); 
  
}